@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light Theme */
  --background: #ffffff;
  --surface: #f8fafc;

  --primary: #7c3aed;
  --secondary: #3b82f6;
  --accent: #06b6d4;

  --text: #111827;
  --paragraph: #4b5563;

  --border: rgba(0, 0, 0, 0.08);
}

.dark {
  /* Dark Theme */
  --background: #030712;
  --surface: #111827;

  --primary: #7c3aed;
  --secondary: #3b82f6;
  --accent: #06b6d4;

  --text: #ffffff;
  --paragraph: #94a3b8;

  --border: rgba(255, 255, 255, 0.08);
}

*{
  margin:0;
  padding: 0;

  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
  
}

body{
  background:var(--background);
  color:var(--text);
  font-family:var(--font-inter);
}

h1,h2,h3,h4,h5,h6{
  font-family:var(--font-sora);
}

a{
  text-decoration:none;
  color:inherit;
}

button{
  cursor:pointer;
}

img{
  max-width:100%;
  display:block;
}



